@import "./variables";
@import "./functions";

.nav-align {
  @include flex(center, center);
  flex-direction: row;
}

.navigation-bar {
  @include flex(center, center);
  flex-direction: row;
  width: 100%;
  background-image: url("../images/sonus-paper-4.jpeg");
}
