@import "./variables";
@import "./functions";

.app-body {
  height: 100%;
}

.nav-align {
  @include flex(center, center);
  flex-direction: row;
}

.nav-link {
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  color: white;
}

.navigation-bar {
  @include flex(center, center);
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-style: italic;
  color: white;
  background-image: url("../images/sonus-stone.jpeg");
}
