@import "./variables";
@import "./functions";

.form-align {
  @include flex(center, center);
  flex-direction: row;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
  // overflow: auto;
  // border: 10px solid black;
  //border-radius: 30px;
  //background-image: url("../images/sonus-stone-3.jpeg");
}

.cassette {
  background-image: url("../images/cassette-1.jpeg");
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
}

.form-layout {
  @include flex(center, center);
  flex-direction: row;
}

.artist-element {
  padding: 5px;
  margin-left: 2px;
}

.album-dropdown {
  padding: 5px;
  margin-left: 2px;
}

.track-dropdown {
  padding: 5px;
  margin-left: 2px;
}

.track-text {
  font-family: "fantasy", "papyrus";
  font-size: 20px;
  font-weight: 800;
}
.album-track-dropdowns {
  @include flex(space-evenly, center);
  flex-direction: row;
}

.lyric-border {
  border: 0.2rem outset black;
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

.album-track-title {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  color: $navBackground;
}

label {
  color: black;
}
