@import "./variables";
@import "./functions";

.form-align {
  @include flex(center, center);
  flex-direction: column;
}

.artists-body {
  background-image: url("../images/sonus-paper.jpeg");
}

.album-dropdown {
  background-color: rgb(103, 103, 130);
  border-width: 1em;
}

.lyric-border {
  border: 0.2rem outset black;
  border-radius: 2px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  color: $navBackground;
}

label {
  color: black;
}
