.form-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #1e2e43;
  color: white;
}

.stack-border {
  border-width: 5px;
  border-color: white;
}

.cassette {
  background-image: url("../images/cassette-1.jpeg");
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
}

.form-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.artist-element {
  padding: 5px;
  margin-left: 2px;
}

.dropdown-menu a {
  background-color: #1e2e43;
  color: white;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.dropdown-menu a:hover {
  background-color: black;
  color: white;
}

.album-dropdown {
  padding: 5px;
  margin-left: 2px;
}

.track-dropdown {
  padding: 5px;
  margin-left: 2px;
}

.track-text {
  color: white;
  margin-left: 1em;
}

.album-track-dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1e2e43;
}

.lyric-border {
  border: 0.2rem outset black;
  border-radius: 2px;
  height: 100%;
  width: 100%;
}

.album-track-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "fantasy", "copperplate";
  font-size: 20px;
  font-weight: 200;
  color: aqua;
}

.search-artist {
  background-color: #1e2e43;
}

.search-image {
  -webkit-box-shadow: 3px 3px 3px grey;
          box-shadow: 3px 3px 3px grey;
  padding: 5px;
  margin-left: 2px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  color: #1e2e43;
}

label {
  color: black;
}
/*# sourceMappingURL=ArtistLyrics.css.map */