@import "./variables";
@import "./functions";

.loader-flex {
  @include flex(center, center);
  width: 100%;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid black; /* Black */
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
