@import "./variables";
@import "./functions";

.search-field {
  padding: 1em;
}

.lyrics-body {
  @include flex(center, center);
  flex-direction: column;
  background-image: url("../images/sonus-stone.jpeg");
}

.track {
  @include flex(center, center);
  background-image: url("../images/sonus-paper.jpeg");
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px;
}

pre {
  @include flex(center, center);
  width: 100%;
  font-family: "fantasy", "papyrus";
  font-size: 20px;
  font-weight: 600;
  background-image: url("../images/sonus-paper.jpeg");
  color: black;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 15px;
  padding-bottom: 80px;
  margin-top: 20px;
}
