@import "./variables";
@import "./functions";

.album-art {
  display: flex;
  flex-direction: row;
}

.page-color {
  background-color: $navBackground;
}

.search-field {
  padding: 1em;
}

.album-image {
  border: 1px solid black;
  box-shadow: 6px 4px 4px grey;
  border-radius: 25px;
}

.lyrics-body {
  @include flex(center, center);
  flex-direction: column;
  //background-image: url("../images/sonus-stone.jpeg");
  background-color: $navBackground;
  margin-top: 0;
  height: 100%;
  width: 100%;
}

.track {
  @include flex(center, center);
  background-image: url("../images/sonus-stone-5.jpeg");
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-top: 40px;
}

pre {
  @include flex(center, center);

  font-family: "serif", "times new roman";
  font-size: 15px;
  font-weight: 600;
  background-image: url("../images/sonus-stone-5.jpeg");
  box-shadow: 6px 4px 4px grey;
  color: black;
  overflow: auto;
  border-radius: 25px;
  padding: 15px;
  padding-bottom: 80px;
  margin-top: 20px;
}
